# Dependências
node_modules/
frontend/node_modules/

# Ambiente
.env
.env.local
frontend/.env.local

# Build
.next/
frontend/.next/
dist/
artifacts/
cache/

# Outros
.DS_Store
*.log
ignition/deployments/
